/* Ensure Tailwind CSS is installed and configured */
@import "tailwindcss/base"; /* base path is node_modules/tailwindcss/base.css */
@import "tailwindcss/components"; /* base path is node_modules/tailwindcss/components.css*/
@import "tailwindcss/utilities"; /* base path is node_modules/tailwindcss/utilities.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
